
<nav aria-label="breadcrumb">
    <div class="breadcrumb">
        <ul *ngFor="let node of breadcrumbPath;">
      
            <li class="breadcrumb-item">

                <a (click)="onClick(node.categId, node.categName)"
                    [routerLink]="['/results']" 
                    [queryParams]="{ category_id: node.categId, 
                        category_name: node.categName }">/ {{ node.categName }}
                </a>

            </li>

          </ul>
    </div>
    
</nav>

