<br>
<form [formGroup]="formulario"> 

    <span class="busquedaFiltrosActivos">Filtro por Atributos</span>

    <div id="filtros">


        <!-- <div *ngIf="opciones.length >0" id="opciones">

            <span class="busquedaFiltrosItem" 
              formArrayName="extra"
              *ngFor="let item of formCheckboxesExtra.controls; let i = index">
                <label>
                    <input type="checkbox" [formControlName]="i" (change)="attributesSelectionChanged()"> {{ opciones[i] }}
                </label>   
            </span>   
        </div>   -->


        <div *ngIf="product_attributes1.length >0" id="product_attributes1">
            <span class="busquedaFiltrosHeader">{{ product_attributes1[0].name }}</span>
            <span class="busquedaFiltrosItem" 
              formArrayName="product_attributes1"
              *ngFor="let item of formCheckboxesAttributes1.controls; let i = index">
                <label>
                    <input type="checkbox" [formControlName]="i" (change)="attributesSelectionChanged()"> {{ product_attributes1[i].value }}
                </label>   
            </span>   
        </div>  

        <br>

        <div *ngIf="product_attributes2.length >0" id="product_attributes2">
                <span class="busquedaFiltrosHeader">{{ product_attributes2[0].name }}</span>
                <span class="busquedaFiltrosItem" 
                  formArrayName="product_attributes2"
                  *ngFor="let item of formCheckboxesAttributes2.controls; let i = index">
                  <label>
                      <input type="checkbox" [formControlName]="i" (change)="attributesSelectionChanged()" checked> {{ product_attributes2[i].value }}
                  </label>
                </span>   
        </div>  
    
        <br>
        
        <span class="busquedaFiltrosActivos">Filtro por Precio</span>
        
        <div id="precios" class="row">
            <div class="col-sm-6">
                <input 
                  class="form-control"
                  type="precio_d"  
                  formControlName="precio_desde"
                  id="precio_d"
                  placeholder="desde">
            </div>
    
            <div class="col-sm-6">
                <input 
                  class="form-control"
                  type="precio_h"  
                  formControlName="precio_hasta"
                  id="precio_h"
                  placeholder="hasta">
            </div>

        </div>

        <br>
            
        <div class="col-sm-12">
            <button type="submit" class="btn btn-danger">Filtrar Precio</button>
        </div>
        
    </div>

    <br>
    <!-- <div>Informacion del Formulario</div>
    <pre>Form Valido:  {{ formulario.valid  }} </pre>
    <pre>Valores: <br> {{ formulario.value | json }} </pre> -->

</form>


