
<div class="productoItemTarjeta" [class.productoItemTarjetaBlock]='view_type_active_listado' href="#" data-toggle="modal" data-target="#exampleModal">
  <div class="productoContenedorImagen">
    <!-- <div class="productoEtiquetaPromo">
        <div class="productoEtiquetaSombra"></div>
        <img class="d-none d-xl-inline" src="assets/icos/promoEtiqueta.svg">¡5% OFF en la 2da. unidad!
      </div> -->
      <a href="">
          <img class="productoImagen" [src]="this.baseImagesLocation + product.image">
      </a>
      
    </div>
    <div class="productoContenedorBlockSide">
      <a (click)="openDialog()" class="productoNombre">{{ product.name}}</a>
      <span class="productoDescripcion">{{ product.description}}</span>
      <div class="productoContB">
        <span class="productoPrecio">{{ product.price }}<span class="productoPrecioDecimal">00</span></span>
        <!-- <button title="Agregar a Mi Wishlist" class="productoFavorito" href="#"><img src="assets/icos/favorito0.svg"></button> -->
      </div>
      <div class="productoAgregarBolsaContenedor">
        <button (click)="addCartItem()" title="Agregar a la Bolsa de Compras" class="productoAgregarBolsa">Añadir a la bolsa</button>

      </div>
  </div>
</div>


