<app-stepper></app-stepper>

<div class="container containerPaddingExtra">
    <div class="row">
      <div class="col">
        <h2 class="tituloSeccionSecundario"><strong>Bolsa de compras</strong> ( {{ cant_items_carrito }} productos)</h2>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">

      <div  *ngFor="let cart_item of cart_items;">                 
          <app-cart-item [cart_item]="cart_item"
            (quantityChanged)="quantityAdjusted($event)">
          </app-cart-item>
      </div>

    </div>
  </div>
  
  <div class="container">
    <div class="row">
     
        <div class="col-12">
            <div class="bolsaComprasTotal">
              <div class="row">
                <div class="d-none d-sm-block col-1 col-lg-2">
          
                </div>
                <div class="col-12 col-sm-11 col-lg-10 text-right">
                  <div class="row columnaFlex columnaFlexBolsaCompras">
                    <div class="col-7 col-md-9">Subtotal:</div>
                    <div class="col-5 col-md-3">
                      <span class="modalProductoPrecioActual precioBolsaCompras">$4.500<span class="productoPrecioDecimal precioDecimalBolsaCompras">45</span></span>
                    </div>
                  </div>
                  <div class="row columnaFlex columnaFlexBolsaCompras">
                    <div class="col-7 col-md-9">Descuentos:</div>
                    <div class="col-5 col-md-3">
                      <span class="modalProductoPrecioActual precioBolsaCompras">- $750<span class="productoPrecioDecimal precioDecimalBolsaCompras">45</span></span>
                    </div>
                  </div>
                  <div class="row columnaFlex columnaFlexBolsaCompras">
                    <div class="col-7 col-md-9"><strong>Total:</strong></div>
                    <div class="col-5 col-md-3">
                      <span class="productoPrecio productoPrecioBolsaCompras"><strong>$ 3.047</strong><span class="productoPrecioDecimal productoPrecioDecimalBolsaCompras"><strong>49</strong></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn btn-lg botonFullWidthMobile btn-institucional margenInferior">Continuar</button>
      </div>
    </div>
  </div>
  