<div class="backgroundGrisA">
	<div class="container containerPaddingExtra">
		<div class="row">
			<div class="col text-center">
				<h1 class="tituloSeccion">Síguenos en nuestras redes sociales</h1>
			</div>
		</div>
		<br>
		<div class="row rowMaximoA">
			<div class="col-4 col-md-2 text-center">
				<a href="#" class="redesLogo" title="Síguenos en Facebook"><img src="assets/img/redessociales/redesFacebook.svg"></a>
			</div>
			<div class="col-4 col-md-2 text-center">
				<a href="#" class="redesLogo" title="Síguenos en Linkedin"><img src="assets/img/redessociales/redesLinkedin.svg"></a>
			</div>
			<div class="col-4 col-md-2 text-center">
				<a href="#" class="redesLogo" title="Síguenos en Google+"><img src="assets/img/redessociales/redesGooglePlus.svg"></a>
			</div>
			<div class="col-4 col-md-2 text-center">
				<a href="#" class="redesLogo" title="Síguenos en Twitter"><img src="assets/img/redessociales/redesTwitter.svg"></a>
			</div>
			<div class="col-4 col-md-2 text-center">
				<a href="#" class="redesLogo" title="Síguenos en Pinterest"><img src="assets/img/redessociales/redesPinterest.svg"></a>
			</div>
			<div class="col-4 col-md-2 text-center">
				<a href="#" class="redesLogo" title="Síguenos en Instagram"><img src="assets/img/redessociales/redesInstagram.svg"></a>
			</div>
		</div>
	</div>
</div>
