<nav class="navbar navbar-expand-lg navbar-dark bg-dark pr-0">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<!-- <span class="navbar-toggler-icon"></span> -->
		<img class="togglerImagen" src="assets/icos/hamburguesa.svg">
	</button>
	<span class="navbarUbicacion">Resultados de búsqueda</span>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

			<!-- Menu Horizonta de Categorias Visibles -->
      <li *ngFor="let categoriaVisible of categoriasVisibles; " class="nav-item">
				<!-- <a class="nav-link" (click)="onClick(categoriaVisible.product_category_id, categoriaVisible.category_name)">{{ categoriaVisible.category_name }}</a> -->
				<!-- <a class="nav-link" [routerLink]="['/results', categoriaVisible.product_category_id, categoriaVisible.category_name]"  -->
				<a class="nav-link" 
						[routerLink]="['/results']" 
						[queryParams]="{ category_id: categoriaVisible.product_category_id, 
							category_name: categoriaVisible.category_name }"
						>{{ categoriaVisible.category_name }}
				</a>
			</li>
			
      <li *ngFor="let categoriaNoVisible of categoriasNoVisibles; " class="nav-item nav-itemNoDesktop">
				<a class="nav-link" href="#">{{ categoriaNoVisible.category_name }}</a>
      </li>
		
			<li class="nav-item nav-itemNoMobile dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarMasCategoriasDropdown">Ver todas</a>
        
        <!-- <?php include 'inc/modalMasCategorias.php';?> -->
        <div id="catModalFondo" class="modalMasCategorias fondoCat">
            <div class="row">
              <div class="col py-2">
                <span class="modalMasCategoriasTitulo"><strong>Todas las categorías</strong></span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 col-xl-8">
          
									<div class="row">						
											<div *ngFor="let categoria of categorias;" class="col-6 col-lg-3 col-xl-2 modalMasCategoriasColLink">
													<a href="#" (click)="onClick()" class="modalMasCategoriasLink" id="{{ categoria.category_name }}">{{ categoria.category_name }}</a>
											</div>
                </div>
          
              </div>

            </div>
          
          </div>
          <div class="modalMasCategoriasOverlay"></div>

			</li>
			<li class="nav-item nav-itemNoMobile dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarUserMenuDropdown">Pedro Mar12</a>
				<div class="dropdown-menu dropdownUserMenu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item dropdown-itemUserMenu" href="#">Mi Bolsa de Compras</a>
					<a class="dropdown-item dropdown-itemUserMenu" href="#">Mi Cuenta</a>
					<a [routerLink]="['/my-orders']" class="dropdown-item dropdown-itemUserMenu">Mis Compras</a>
					<a class="dropdown-item dropdown-itemUserMenu" href="#">Mi Wishlist</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item dropdown-itemUserMenu" href="#">Ayuda</a>
					<a class="dropdown-item dropdown-itemUserMenu" href="#">Cerrar Sesión</a>
				</div>
				<div class="modalUserMenuOverlay"></div>
			</li>
			<li class="nav-item nav-itemNoDesktop itemFondoSeparador itemFondoDestacado"><a class="nav-link" href="#">Mi Cuenta</a></li>
			<li class="nav-item nav-itemNoDesktop itemFondoDestacado"><a class="nav-link" href="#">Mi Bolsa de Compras</a></li>
			<li class="nav-item nav-itemNoDesktop itemFondoDestacado"><a class="nav-link" href="#">Mis Compras</a></li>
			<li class="nav-item nav-itemNoDesktop itemFondoDestacado"><a class="nav-link" href="#">Mi Wishlist</a></li>
			<li class="nav-item nav-itemNoDesktop itemFondoSeparador itemFondoDestacado"><a class="nav-link" href="#">Ayuda</a></li>
			<li class="nav-item nav-itemNoDesktop itemFondoDestacado"><a class="nav-link" href="#">Cerrar Sesión</a></li>
		</ul>
	</div>
</nav>