<span class="busquedaKeyword">{{ currentCategoryName }}</span>

<span class="busquedaCantResultados">{{currentCategoryProductsCount}} Resultados</span>

	<div *ngIf="currentCategoryChildren.length >0"  class="busquedaFiltrosGrupo mb-3">
		<span class="busquedaFiltrosHeader">Sub Categorías</span>

		<span *ngFor="let subCategory of currentCategoryChildren" class="busquedaFiltrosItem">

			<a class="busquedaFiltrosSubCategoria" 
								[routerLink]="['/results']" 
								[queryParams]="{ category_id: subCategory.category_id, 
									category_name: subCategory.category_name }"
					>{{ subCategory.category_name }}
					<span class="busquedaFiltrosItemCantidad">()</span>
			</a>
		
		</span>
     
	</div>
