<!-- 
<div class="backgroundGrisA">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-md-6 columnaFlex columnaFlexResultados justify-content-start pt-3 py-md-0">
            <app-breadcrumb-categorias [breadcrumbPath]="getbreadcrumbPath()"></app-breadcrumb-categorias>
        </div>
        <div class="col-9 col-md-4 col-xl-5 columnaFlex columnaFlexResultados justify-content-start justify-content-md-end py-0">
          <span class="dropdownOrdenarEtiqueta">Ordenar por:</span>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle ordenarResultados" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Más relevantes
            </button>
            <div class="dropdown-menu ordenarResultadosDropdown" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Más relevantes</a>
              <a class="dropdown-item" href="#">Menor precio</a>
              <a class="dropdown-item" href="#">Mayor precio</a>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-2 col-xl-1 pr-lg-0 columnaFlex columnaFlexRight">
          <button class="vistaResultados vistaResultadosActiva" title="Ver grilla"><img src="assets/icos/vistaCards.svg"></button>
          <button class="vistaResultados" title="Ver listado"><img src="assets/icos/vistaBlocks.svg"></button>
        </div>
      </div>
    </div>
  </div>



 -->
