<app-stepper>
    [step]="step"
</app-stepper>

<div class="container containerPaddingExtra">
    <div class="row">
      <div class="col">
        <h2 class="tituloSeccionSecundario"><strong>Envío y retiro</strong></h2>
        <h6 class="mt-2">Elegí la forma de recibirlo</h6>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">

          <div class="row">
              <div class="col">
                <h5>Datos de envío</h5>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="border-0">Normal a domicilio</td>
                      <td class="border-0 text-right">Modificar dirección</td>
                    </tr>
                    <tr>
                      <td class="border-0">Retiro en los puntos de entrega</td>
                      <td class="border-0 text-right">Gratis</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
      </div>
      <div class="col-12 col-lg-6">

          <div class="row">
              <div class="col">
                <h5>Resumen de compra</h5>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="border-0">Productos (5)</td>
                      <td class="border-0 text-right">$13.666</td>
                    </tr>
                    <tr>
                      <td class="border-0">Envío</td>
                      <td class="border-0 text-right">Gratis</td>
                    </tr>
                    <tr>
                      <td class="border-0">Total</td>
                      <td class="border-0 text-right">$13.666</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
      
      
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn btn-lg botonFullWidthMobile btn-institucional margenInferior">Continuar</button>
      </div>
    </div>
  </div>