<div class="container containerPaddingExtra">
    <div class="row">
      <div class="col">
        <h2 class="tituloSeccionSecundario"><strong>Envío y retiro</strong></h2>
        <h6 class="mt-2">Tu forma de recibirlo: {{ user_deliveries[0] && user_deliveries[0].delivery_type }}</h6>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">

          <div class="row mb-5">
              <div class="col">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-title">
                    <strong>Puntos de entrega</strong>
                  </li>
                  <li class="list-group-item">
                    <strong class="d-block mb-2">{{ user_deliveries[0].delivery_location }}</strong>
                    <p> {{ user_deliveries[0].address }}<br>
                    {{ user_deliveries[0].comments }}<br>
                    E-mail: <a class="linkGenerico" href="mailto:clientes@shopgallery.com">clientes@shopgallery.com</a><br>
                  </li>

                </ul>
              </div>
            </div>
      </div>
      <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col">
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-title">
                  <strong>Resumen de compra</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Productos ({{ cant_items_carrito }})
                  <span>${{ total_amount_cart}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Envío
                  <span>Gratis</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <strong>Total</strong>
                  <span><strong>${{ total_amount_cart}}</strong></span>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col text-right">
        <button routerLink="/checkout-payment" type="button" class="btn btn-lg botonFullWidthMobile btn-institucional margenInferior">Continuar</button>
      </div>
    </div>
  </div>