<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators indicadorSlideHomeCont">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="indicadorSlideHome active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="indicadorSlideHome"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class="indicadorSlideHome"></li>
    </ol>
    <div class="carousel-inner">
  
      <div class="carousel-item active">
        <picture>
          <source media="(min-width: 992px)" srcset="assets/img/carouselhome/slide01.jpg">
          <img class="d-block w-100" src="assets/img/carouselhome/slidem01.jpg">
        </picture>
      </div>
  
      <div class="carousel-item">
  
        <picture>
          <source media="(min-width: 992px)" srcset="assets/img/carouselhome/slide02.jpg">
          <img class="d-block w-100" src="assets/img/carouselhome/slidem02.jpg">
        </picture>
  
      </div>
      <div class="carousel-item">
  
        <picture>
          <source media="(min-width: 992px)" srcset="assets/img/carouselhome/slide03.jpg">
          <img class="d-block w-100" src="assets/img/carouselhome/slidem03.jpg">
        </picture>
  
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>