<div class="container containerPaddingExtra">
    <div class="row">
      <div class="col">
        <h2 class="tituloSeccionSecundario">Categorías</h2><a href="#" class="linkMas">Ver todas</a>
      </div>
    </div>
    <br>
    
    <div class="row">

        <div  *ngFor="let category_icon of categoriasVisibles;">
            <div class="col-6 col-sm-3 col-xl text-center">
                <a class="categoriaItem" href="#">
                  <div class="categoriaItemCirculo">
                    <img [src]="category_icon.category_icon">
                  </div>
                  <div class="categoriaItemNombre">{{ category_icon.category_name }}</div>
                </a>
            </div>
        </div>    
    </div>

  </div>
  