<div class="backgroundGrisA">
    <div class="container containerPaddingExtra">
      <div class="row">
        <div class="col">
          <h2 class="tituloSeccionSecundario">Financiación con los mejores bancos</h2>
        </div>
      </div>
      <br>
      <div class="row text-center cardEstilo">
        <div class="col-12 col-lg-5">
          <div class="row">
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/bbvafrances.jpg"></div>
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/comafi.jpg"></div>
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/credicop.jpg"></div>
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/diners.jpg"></div>
          </div>
          <div class="row">
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/galicia.jpg"></div>
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/hsbc.jpg"></div>
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/nacion.jpg"></div>
            <div class="col columnaFlex"><img class="logoBanco" src="assets/img/logosbancos/tarjeta_naranja.jpg"></div>
          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-5 col-xl-4 columnaFlex">
          <div class="row">
            <div class="col">
              <span class="notaCuotas">Hasta 12 cuotas sin interés</span><br>
              <a href="#" class="linkBeneficios">Ver todos los beneficios</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2 col-xl-3 columnaFlex123 columnaBorde">
          <div class="row rowFullHeight">
            <div class="col-12 col-xl-6 d-none d-xl-block">
              <img class="logoEnvioRapido" src="assets/icos/enviorapido.svg">
            </div>
            <div class="col-12 col-xl-6">
              <span class="leyendaEnvioRapido">Envío rápido</span>
              <span class="bajadaEnvioRapido">Llega en 48hs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>