<div class="backgroundGrisA">
    <div class="container containerPaddingExtra">
      <div class="row">
        <div class="col">
          <h2 class="tituloSeccionSecundario">Categorías más populares</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 col-lg-4">
          
            <a class="categoriaPopular categoriaPopularDoble" href="#">
                <div class="categoriaPopularImagen">
                  <img [src]="highlighted_items[0] && baseImagesLocation + highlighted_items[0].image">
                </div>
                <span class="categoriaPopularTitulo">{{ highlighted_items[0] && highlighted_items[0].title }}</span>
              </a>

        </div>
        <div class="col-12 col-lg-4">
          
            <a class="categoriaPopular" href="#">
                <span class="categoriaPopularTitulo">{{ highlighted_items[1] && highlighted_items[1].title }}</span>
                <div class="categoriaPopularImagen">
                  <img [src]="highlighted_items[1] && baseImagesLocation + highlighted_items[1].image">
                </div>
            </a>

            <a class="categoriaPopular" href="#">
                <span class="categoriaPopularTitulo">{{ highlighted_items[2] && highlighted_items[2].title }}</span>
                <div class="categoriaPopularImagen">
                  <img [src]="highlighted_items[2] && baseImagesLocation + highlighted_items[2].image">
                </div>
            </a>

        </div>
        <div class="col-12 col-lg-4">
          
            <a class="categoriaPopular" href="#">
                <span class="categoriaPopularTitulo">{{ highlighted_items[3] && highlighted_items[3].title }}</span>
                <div class="categoriaPopularImagen">
                  <img [src]="highlighted_items[3] && baseImagesLocation + highlighted_items[3].image">
                </div>
            </a>

            <a class="categoriaPopular" href="#">
                <span class="categoriaPopularTitulo">{{ highlighted_items[4] && highlighted_items[4].title }}</span>
                <div class="categoriaPopularImagen">
                  <img [src]="highlighted_items[4] && baseImagesLocation + highlighted_items[4].image">
                </div>
            </a>

        </div>
      </div>
    </div>
  </div>