<app-navegacion-superior ></app-navegacion-superior>


<app-navegacion-inferior></app-navegacion-inferior>


<div class="md-stepper-horizontal orange">

    <div class="md-step active md-step-completado">
      <a href="">
        <div class="md-step-circle">
          <span>
            <img class="md-step-circle-img md-step-circle-img-bolsa" src="assets/icos/bolsa_compras.svg">
            <img class="md-step-circle-img md-step-circle-img-completado" src="assets/icos/paso_completado.svg">
          </span>
        </div>
        <div class="md-step-title">Bolsa de Compras</div>
        <div class="md-step-optional">Paso completado!</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </a>
    </div>
  
    <div class="md-step active md-step-completadoX">
      <a href="envioRetiro.php">
        <div class="md-step-circle">
          <span>
            <img class="md-step-circle-img md-step-circle-img-envio" src="assets/icos/envio_retiro.svg">
            <img class="md-step-circle-img md-step-circle-img-completado" src="assets/icos/paso_completado.svg">
          </span>
        </div>
        <div class="md-step-title">Envío y Retiro</div>
        <div class="md-step-optional">Paso completado!</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </a>
    </div>
  
    <div class="md-step active md-step-completadoX">
      <a href="#">
        <div class="md-step-circle">
          <span>
            <img class="md-step-circle-img md-step-circle-img-pago" src="assets/icos/pago.svg">
            <img class="md-step-circle-img md-step-circle-img-completado" src="assets/icos/paso_completado.svg">
          </span>
        </div>
        <div class="md-step-title">Pago</div>
        <div class="md-step-optional">Paso completado!</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </a>
    </div>
  
  </div>

  <app-cart></app-cart>