<footer>
  <div class="backgroundGrisB">
    <div class="container containerPaddingExtra">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 text-center">
          <a href="#" class="footerLink">Sobre Nosotros</a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center">
          <a href="#" class="footerLink">Políticas de Privacidad</a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center">
          <a href="#" class="footerLink">Términos y Condiciones</a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center">
          <a href="#" class="footerLink">Ayuda</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid contenedorCopyright">
    <div class="row text-center">
      <div class="col-12">Copyright © 2018 ShopGallery. Todos los derechos reservados.</div>
    </div>
  </div>
  </footer>